*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.App {
  margin: 5rem;
  padding: 5rem;
  background-color: orangered;
  box-sizing: border-box;
}
